@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Mooli&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Inclusive Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* width: 450px; */
}

#registration_form {
    height: 550px;
    width: 400px;
    background-color: #ffffff;
    /* padding: 10px 40px; */
    padding: 25px;
    border-radius: 10px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#registration_form .col-sm-12 h1 {
    font-weight: 400;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 28px;
}

#registration_form .col-sm-12 .form-group {
    /* margin */
    padding: 5px 5px;
}

#registration_form .col-sm-12 .form-group #email {
    height: 50px;
    border: 1.5px solid #666666;
    border-radius: none;    
}
#registration_form .col-sm-12 .form-group #email:focus{
    box-shadow: none;
}
#registration_form .col-sm-12 .form-group #password {
    height: 50px;
    border: 1.5px solid #666666;
    border-radius: none;
}

#registration_form .col-sm-12 .form-group #password:focus{
    box-shadow: none;
}

#registration_form .col-sm-12 .link {
    margin-top: 60px;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;

}

#registration_form .col-sm-12 .link a {
    font-weight: bold;
    color: #0a66c2;
}

#registration_form .col-sm-12 #register {
    width: 100%;
    background-color: #0a66c2;
    height: 55px;
    border-radius:30px;
    font-size: 16px;
    outline: none;
    border: none;
}
#registration_form .col-sm-12 #register:hover{
    background-color: #004182;
}

.google {
    font-size: 16px;
    height: 45px;
    width: 100%;
    border-radius: 3px;
    margin-top: 8px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 25px;
}

.google:hover{
    background-color: #f7faff;
}

.googleimg {
    margin-right: 10px;
}

.last {
    margin-top: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}